
.header_container {
    margin: 5px;

    display: flex;
    flex-direction: column;
}


.banner_img {
    margin-top: 50px;
    width: 100%;
    height: 190px;


}


.content {
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 5;
    top: -114px;
}
@media screen and (max-width: 450px) {
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 5;
        top: -80px;
    }
}

.avatar_name {
    display: flex;

}
@media screen and (max-width: 450px) {
    .avatar_name {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}

.name {
    display: flex;
    align-items: flex-end;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #111827;
}

.button_container {
    width: 250px;
    justify-content: space-around;
    display: flex;
    align-items: flex-end;


}

.header__button {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 13px;
    gap: 8px;
    background: #ffffff;
    border: 1px solid #d1d5db;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

.button__text {
    font-weight: 500;
    font-size: 14px;
}

@media screen and (max-width: 650px) {
    .button__text {
        display: none;
    }
}

.button__ico {
    width: 16px;
    height: 16px;
}
